[2017-11-23 23:44] wasong opened #1 "Navigating on afterCancel"
Attempting to programmatically navigate on afterCancel using `history.push(...)` does result in expected action.

Expected:
I expect it to close my modal and navigate to my specified page.

Actual:
Closes modal but does not navigate away, no error is given.

I've tried creating a wrapper function for the onCancel, doing something like
[code]

or other way around:
[code]
console logs will run in th

[2017-11-24 00:27] ZacharyRSmith commented on #1
Hi @wasong, [in the constructor for `<NavigationPrompt/>`, history is blocked](https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/master/src/index.js#L53).

This block is still in place [when `onCancel()` is run](https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/master/src/index.js#L94), but removed [when `onConfirm()` is run](https://github.com/ZacharyRSmith/r

[2017-11-24 00:28] #1 closed

[2017-11-24 18:50] wasong commented on #1
Thanks for the reply!
I'd just like to clarify something; where would solution 2 take place? In the `afterCancel` function? In some lifecycle method?

[2017-11-24 19:25] ZacharyRSmith commented on #1
Solution 2 would take place anytime you'd like to forcefully unblock history.  In your case, you could put it in the `afterCancel` function.  Just don't forget to reconstruct `<NavigationPrompt/>` if you want to use it again.

[2017-11-28 12:21] tumor800 opened #2 "Perform back from browser, but onConfirm didn't perform back"
I'm trying to perform action back via browser navigation and `<NavigationPrompt/>` triggered.
But when I click button that have `onClick={onConfirm}`, it not actually back, but it's forwarded.
I expected the program run `history.goBack()`

do you have any solution for this?
could you create props when able to check backward or forward action?

my code:
[code]

are you do typo in this part?
[code]

[2017-11-30 22:17] ZacharyRSmith commented on #2
No, that was not a typo.  I originally used pop, but due to issues with that I went to push.

You can read more in my commit message here: https://github.com/ZacharyRSmith/react-router-navigation-prompt/commit/af559d2e1bbd15ae6c50aede8244225fa3272a1a

If user has this in their history:

1. /1/path/ago
2. /2/paths/ago

and right click on back arrow and clicks on /2/paths/ago, then pop() would take

[2017-11-30 22:19] ZacharyRSmith commented on #2
ie, supporting pop would require a version of `<NavigationPrompt/>` that [requires memory history](https://github.com/ReactTraining/history#properties).  i would like to make that version of `<NavigationPrompt/>`, maybe this weekend?

[2017-12-03 16:06] smiket opened #3 "History is blocked when you navigate away"
https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/5a6a6fe433d496bf2d1ea80e81a9896c7ca80cec/src/index.js#L90

Hi Zachory - I noticed an issue when navigating away from the current page.
I first prompt and select no (do not navigate away).
I then prompt and select yes (navigate away).
The app opens the next page, but then history remains blocked (navigation stops working.
I believ

[2017-12-04 14:23] ZacharyRSmith commented on #3
Thanks for the compliment!

Yes, that line is re-blocking history so that `<NavigationPrompt/>` can continue blocking history if desired -- ie, if 1) `<NavigationPrompt/>` is still mounted and 2) its props.when is true or returns true.  Why is it continuing to block when you do not want it to, I do not know.

When you say "history remains blocked", are you seeing prompts when you try to navigate?

[2017-12-06 15:31] smiket commented on #3
Hi Zach, in my case the history remained blocked because I left the page.  When you confirm the navigation, the last thing that happens is that call to set state (blocking history).  On my other page, I don't have the NavigationPrompt so no unblocking occurs there - and then none of my links work (nav is blocked).

I ended up taking your code and just supporting 'didCancel' and 'didConfirm so that

[2017-12-06 21:58] ZacharyRSmith commented on #3
Yes, the last thing that happens is that call to set state, blocking history...but in my experience if the other page does not have NavigationPrompt, then history is not blocked (I presume because componentWillUnmount() calls this.state.unblock()). I would love it if you would share some code that reproduces what you're seeing.

[2017-12-07 20:22] smiket commented on #3
I'll see if I can nail down the issue, perhaps make a small POC for illustration.  I'm using React 16 if that is of any consequence.

[2017-12-07 22:30] ZacharyRSmith commented on #3
Thanks, I appreciate it @smiket !

[2017-12-10 09:09] naomipol opened #4 "Prompt not showing again after calling `onConfirm`"
When calling the `onConfirm` method of Prompt, I get this warning:

[code]

This is caused because of the following `setState` being called after navigating to the new location, when the current location's prompt has already been unmounted.

https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/5a6a6fe433d496bf2d1ea80e81a9896c7ca80cec/src/index.js#L88

The main issue with this, is t

[2017-12-11 13:54] ZacharyRSmith commented on #4
Thanks for the compliment, @naomipol!

Sorry, but I'm unable to reproduce this bug. Would you please provide code on how to reproduce? From this issue, it seems that I could reproduce by:

Moving from Route A to Route B, with navigating from Route A being blocked until confirmed. Either Route B has its own <NavigationPrompt/> or none at all, so that Route A's <NavigationPrompt/> is unmounted.

I t

[2017-12-15 15:03] tu4mo opened #5 "react-router-dom is included in bundle"
Seems that your es bundle is including react-router-dom, making it weigh over 200 KB.

[2017-12-16 03:51] ZacharyRSmith commented on #5
Thank you for pointing that out!  Please PR if you have a fix.

[2017-12-16 08:47] RikuVan commented on #5
Isn't it just a matter of moving react and react-dom them to the devDependencies? Having them as dependencies might also cause an app two load to incompatible versions.

[2017-12-16 09:26] RikuVan commented on #5
Yeah, thanks @tu4mo. I think as it is this lib could result in two different versions of react-dom and react being loaded, leading to weird errors.

[2017-12-16 09:28] RikuVan commented on #5
Wouldn't it also be better to move react and react-dom to devDependencies in your package.json? This seems to be the practice, for example: https://github.com/reactabular/reactabular/blob/master/package.json

[2017-12-16 10:36] tu4mo commented on #5
@RikuVan I think that's the dev environment setup for reactabular. The actual components have React as peerDependencies: https://github.com/reactabular/reactabular/blob/master/packages/reactabular-table/package.json.

Anyhow, I didn't look like React is in the es bundle, it's required outside: https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/master/es/index.js#L139

[2017-12-21 05:13] naomipol commented on #4
Thanks @ZacharyRSmith for putting effort in this issue.

I think I really have a special use case that reproduces the bug. Both of my routes render the same component, and the same prompt as following:

my router:
[code]

and then in the Container component:

[code]

Although the container has a key with the entityType (that's different) , however something in the prompt is properly shared.

I'm u

[2017-12-21 14:06] #5 closed

[2017-12-21 14:15] ZacharyRSmith commented on #5
published as v1.5.3.  Thanks @tu4mo !

[2017-12-21 18:03] ZacharyRSmith commented on #4
Thanks for the info, @naomipol .  Still, I was unable to reproduce with this:

[code]

Would you please provide a complete working example of how to reproduce?  Thanks!

[2018-01-14 21:50] ZacharyRSmith opened #11 "afterConfirm and afterCancel are not called"
See discussion here: https://github.com/ZacharyRSmith/react-router-navigation-prompt/pull/9

[2018-01-19 07:50] GlebDolzhikov commented on #2
I have i little bit similar issue, i try perform back but onConfirm do nothing in that case.
More then that i get this warn:
Warning: Hash history cannot PUSH the same path; a new entry will not be added to the history stack

PS: I use hash navigation.

[2018-01-20 03:17] ZacharyRSmith commented on #4
Closing due to being unable to reproduce.

[2018-01-20 03:17] ZacharyRSmith commented on #3
Closing due to being unable to reproduce.

[2018-01-20 03:17] #3 closed

[2018-01-20 03:31] ZacharyRSmith opened #13 "enhancement: automated tests"

[2018-01-20 15:32] ZacharyRSmith commented on #13
i'm working on this now...i expect i'll PR today

[2018-01-20 16:55] ZacharyRSmith commented on #4
Re-opened because I came across something suspicious when trying to reproduce using this setup:

When I nav from /issues/4/a to /issues/4/b (after confirming), I get this warning: "A history supports only one prompt at a time" from setPrompt():

[code]

I'm guessing this is due to the new NavigationPrompt constructor being called before the old one has been unmounted.

[code]

[2018-01-21 06:44] ZacharyRSmith commented on #3
auto tests for this issue in #12

[2018-01-21 06:45] ZacharyRSmith commented on #11
fixed in #12

[2018-01-22 22:54] ZacharyRSmith commented on #13
addressed by #12

[2018-01-22 22:54] #13 closed

[2018-01-22 22:54] ZacharyRSmith commented on #11
fixed by #12

[2018-01-22 22:54] #11 closed

[2018-01-23 17:06] Kapiroska opened #14 "Improve documentation,"
From what location should I import NavigationPrompt and ConfirmNavigationModal ?
I tried this way, but it doesn't work
`import { NavigationPrompt, ConfirmNavigationModal } from 'react-router-navigation-prompt';`
If I try to import this way:
`import NavigationPrompt from 'react-router-navigation-prompt';`
Where I should get ConfirmNavigationModal  component?

[2018-01-23 17:34] ZacharyRSmith commented on #14
Thanks for opening an issue, @Kapiroska !  I've updated the README to indicate:

[code]

[2018-01-23 17:34] #14 closed

[2018-01-30 01:46] ZacharyRSmith opened #15 "prevUserAction should be an instance property, not a global variable"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

NavigationPrompt instances share state

**What is the expected behavior?**

NavigationPrompt instances do not share state

**Please post the output of `npm list react react-router react-router-dom react-router-navigation-prompt` (with redactions if needed).**

N/A

[2018-02-01 11:25] cumibulat opened #16 "modal pop ups for split second and disappear when using browser back button"
i got same issue like comment in this gist : https://gist.github.com/bummzack/a586533607ece482475e0c211790dd50

"When I use my browser's Back button, the modal pops up for a split second and then immediately disappears. Is this something history.block can't handle well? "

anyone encountering same issue ? if i use the Prompt component the issue is not happening, or it because Prompt is using alert

[2018-02-01 23:29] ZacharyRSmith commented on #16
Hi @cumibulat , thanks for opening an issue.

I have not seen this behavior, and cannot reproduce.  Would you please provide steps to reproduce?

Please post the output of `npm list react react-router react-router-dom react-router-navigation-prompt` (with redactions if needed).

On which OS/browsers is this seen?

[2018-02-02 03:34] cumibulat commented on #16
hi @ZacharyRSmith thanks for your prompt response. I hope i can help you to reproduce this issue by paste my code.
How i call this NavigationPrompt component :

[code]

`ConfirmNavigationModal` is my Component that render the Modal.
[code]

Output of `npm list react react-router react-router-dom react-router-navigation-prompt` :
[code]
i'm using Chrome Version 63.0.3239.132 (Official Build) (64-bi

[2018-02-08 00:35] ZacharyRSmith commented on #16
Hi @cumibulat , sorry for the delayed response.

I've been unable to reproduce this issue.  [Here is what I've tried](https://github.com/ZacharyRSmith/react-router-navigation-prompt/pull/17)

[2018-02-08 00:35] ZacharyRSmith commented on #16
if i'm missing anything, please let me know.  i'd love it if you pulled down that code and made the test setup so that it would fail

[2018-02-08 04:27] cumibulat commented on #16
hi @ZacharyRSmith thanks for your effort looking into this issue, i have test your code and it works as expected. I build my apps using react-boilerplate and i have test this issue in plain react-boilerplate code, it is happening. I will take a look deeper. Cheers.

[2018-02-11 01:50] ZacharyRSmith opened #18 "Add a demo gif to the README"
This would enable potential users to quickly evaluate whether or not this component solves one of their problems

[2018-02-11 01:56] ZacharyRSmith opened #19 "Create a real contributing.md"
Have it say:

1. don't worry about Flow
2. accompanying tests are great, but not necessary

[2018-02-16 01:27] ZacharyRSmith commented on #18
or link to react storybook

[2018-02-18 13:15] doomsower opened #20 "search string is ignore on confirmation"
Hi there! Thanks for this useful module!

**Do you want to request a *feature* or report a *bug*?**

Bug, I believe [here](https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/799450945c2f3524172767fed007b59d31f21f72/src/index.js#L108)

**What is the current behavior?**

I have a form where user is able to change input language. This is done via search part of location. I.e. `https

[2018-02-21 00:54] #20 closed

[2018-02-21 01:07] ZacharyRSmith commented on #20
#21 fixes this, and i just published to npm.  thank you for opening this issue and doing such a thorough issue!

[2018-03-10 18:18] ZacharyRSmith commented on #19
cd62c8f05da3c74debdf794fc04fef6afd627579 closes this

[2018-03-10 18:18] #19 closed

[2018-03-23 01:14] mgalindo opened #25 "Question: Prompt not showing when using props.history.push(route)"
I have a situation where in a component if I navigate away using this.props.history.push("/someroute"), the prompt is not being displayed. if I use a Router NavLink the prompt is displayed correctly.
Am I missing something?

[2018-03-23 02:09] mgalindo commented on #25
Apologies for the false alarm, I found my issue. The component I was testing was in a different BrowserRouter Instance

[2018-03-23 02:09] #25 closed

[2018-04-17 13:35] SergeyShablenko opened #27 "Children does not show"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

fires native popup

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

should show children, but it does not even call children function

**Please post the output of `npm list react react-router react-router-dom react-router-navigation-

[2018-04-17 21:53] ZacharyRSmith commented on #27
Thanks for the issue, @SergeyShablenko .

Navigation away from your site, reload, or closing tab/window fires the native popup in most browsers.  Is this the case for you, or is the navigation to another one of your routes?

[2018-04-18 07:43] SergeyShablenko commented on #27
Yep, this is my case

[2018-04-19 00:42] ZacharyRSmith commented on #27
I think I remember seeing a hack to do that, but unfortunately I cannot remember.

I am closing this issue because I know of no non-hack way to support the desired behavior.

Gook luck!

[2018-04-19 00:42] #27 closed

[2018-06-05 18:36] piotr-cz commented on #2
I'm using this library inside a PWA.
When user taps on back button, there is a confirmation dialog asking if he/she wants to abandon edits.

Generally in mobile browsers tapping back button rewinds the history to the point when there are no previous entries and then the page tab/ PWA is closed.

The problem with adding new history entry after tapping back button is user is not able to exit the PWA

[2018-06-05 20:02] ZacharyRSmith commented on #2
ty for reporting this, @piotr-cz .  please make a PR fixing this if you can!

[2018-06-06 10:55] piotr-cz commented on #2
I've tried to switch `push` to `goBack` method, [here](https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/a428d6b1b6e70e7d917f684e510adf7b91cb34d2/src/index.js#L110)  as a revert of https://github.com/ZacharyRSmith/react-router-navigation-prompt/commit/af559d2e1bbd15ae6c50aede8244225fa3272a1a  but that didn't work

I'll work on it later

[2018-06-06 12:16] piotr-cz commented on #2
Can you elaborate on your commit message _We cannot know the correct history entry to pop to without using memory history_ ?

[2018-06-06 15:05] piotr-cz commented on #2
Everybody, please test and comment on https://github.com/ZacharyRSmith/react-router-navigation-prompt/pull/30

[2018-07-23 16:22] jngbrl19 opened #31 "When afterConfirm prop is present, the modal always show"
[code]

i want to dispatch an action after i press confirm on the dialog box. but when the afterConfirm dialog box is present, there is a bug.

my boolean prop in redux turns into an object. it has this value.

[code]

[2018-07-23 16:42] jngbrl19 commented on #31
my bad. the problem was with my code. i have the same name for dispatch and state. sorry bro. i fixed it now.

[2018-07-23 16:42] #31 closed

[2018-08-04 08:14] gpbl opened #33 "Add a changelog"
I love this project, thanks a lot for your work, it has been very useful ❤️

I wonder if you could [add a changelog](https://keepachangelog.com/) or at least tag the releases on github to know what's changing when upgrading the component. Thanks 🙏!

[2018-08-05 04:29] ZacharyRSmith commented on #33
Thanks for your kind words, @gpbl !

Great idea, thanks!  I hope nothing broke for you recently?  I will try to add a changelog within the new few days.  Cheers!

[2018-08-05 08:45] gpbl commented on #33
you are welcome! No breaks here, thanks, just before upgrading we need to know why we should upgrade :)

[2018-08-12 13:51] ZacharyRSmith commented on #33
@gpbl , i added this https://github.com/ZacharyRSmith/react-router-navigation-prompt/blob/master/CHANGELOG.md

please let me know if there are _change_s you'd like to see in the _change_log ; )

[2018-08-12 13:51] #33 closed

[2018-08-12 15:09] gpbl commented on #33
That's great, thanks a lot @ZacharyRSmith !

[2018-08-16 11:43] dumblole opened #34 "Modal not Showing up"
**Do you want to request a *feature* or report a *bug*?**
Help
**What is the current behavior?**
Modal not showing up when form is dirty

**If the current behavior is a bug, please provide the steps to reproduce.**

Install https://github.com/djorg83/react-bootstrap-sweetalert
import `import SweetAlert from "react-bootstrap-sweetalert";`
[code]
On input box change, set `formDirty to true`

**What

[2018-08-16 16:06] dumblole commented on #34
Turns out I just needed to import react-router.

[2018-08-16 16:06] #34 closed

[2018-08-17 08:31] dumblole commented on #34
@ZacharyRSmith Sorry, my bad, I thought it had to do with react-router. I was still trying to get my application to work. Now I'm sure you do not need to import react-router, although I'm pretty sure you need react-router to work.
Also, I'm not sure if this is intended, but changing state right before form navigation will not have an effect on whether the modal will show up or not. But it does hav

[2018-08-17 08:35] dumblole commented on #34
Also, to anyone that plans on using SweetAlert, this is what I eventually did.
[code]

[2018-08-18 00:09] ZacharyRSmith commented on #34
i haven't seen this pattern before with NavigationPrompt.  thanks for sharing!

[2018-09-10 14:05] mcupito opened #36 "Changing URL in browser and clicking confirm doesn't navigate"
When I change the URL directly in the browser, I am seeing that my page is not actually navigating upon confirm of the action. I've briefly debugged and saw that the `_state.action` is `POP` when this occurs -- unsure if I can manually try to make this `PUSH` and see what happens.

Scenario:

On `test.com/x`
Type in `test.com/y`
Pop-up appears
Click Yes, Leave the Page (onConfirm)
Prompt closes an

[2018-09-10 20:40] dumblole commented on #36
Hmm, this issue doesn't happen with any of my projects. Try looking at this example code that works: https://codesandbox.io/s/oq5rrjqjx9
Maybe it might help

[2018-09-10 22:35] ZacharyRSmith commented on #36
Also, it looks like you're passing NavigationPrompt's onConfirm as ConfirmModal's onActionClicked and calling ConfirmModal's this.testActionClick.  Would you please share the method this.testActionClick?

[2018-09-11 14:05] mcupito commented on #36
Yes for your first question, @ZacharyRSmith. Also, the `testActionClick` was just a placeholder for me to put a debugger.

[2018-09-11 21:41] ZacharyRSmith commented on #18
#35 closes this

[2018-09-11 21:41] #18 closed

[2018-09-11 21:43] ZacharyRSmith commented on #36
@mcupito are you using react-router's HashHistory instead of BrowserHistory?  unfortunately, NavigationPrompt is not compatible with HashHistory (i think...i haven't tested it).  it seems someone else had this issue with HashHistory: https://github.com/ZacharyRSmith/react-router-navigation-prompt/issues/2#issuecomment-358891377

btw, if you look at the code, NavigationPrompt will push or replace,

[2018-09-12 13:50] mcupito commented on #36
@ZacharyRSmith  Yes we are using `Hash` -- As far as a PR, let me [find the time to] dig in a little deeper and see if I could provide a reasonable solution. Thanks for your responsiveness and your time!

[2018-09-19 02:09] pattysheppard opened #37 "The URL does not reflect the current page after refreshing on a form and then cancelling the navigation warning."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The URL does not reflect the current page after refreshing on a form and then cancelling the navigation warning.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Navigate to a form with the "NavigationPrompt" component
2. Press the browser refresh button.
3. Type somet

[2018-09-20 03:32] ZacharyRSmith commented on #37
thanks for the thoroughly written issue, @pattysheppard .  unfortunately i am busy and cannot look into it right now.  maybe this weekend?

[2018-09-20 05:40] pattysheppard commented on #37
No worries! It's my first issue filed on GitHub actually

That's not a problem. This weekend will be good thank you

[2018-09-24 22:59] ZacharyRSmith commented on #37
@pattysheppard as you may have noticed, i did not get around to it last weekend, and i doubt i will this week

[2018-09-24 23:02] pattysheppard commented on #37
Yep that is totally fine mate! No rush here, whenever you're free is cool

[2018-09-29 14:37] ZacharyRSmith commented on #37
react-router's history.block() is not being invoked, so fixing this would require a solution similar to what NavigationPrompt is doing with `window.addEventListener('beforeunload', this.onBeforeUnload);`

I looked into using window.addEventListener('popstate'), but the event was never triggered (Chrome v69).  Any ideas on how to get a handle on the event/

[2018-09-30 07:10] pattysheppard commented on #37
Thanks for looking into this!
Alright so at which point is history.block() not being invoked? Any time after you refresh?
Will popstate work because you would need one or more entries in the history stack when you click the browser back button and maybe refreshing the page confuses it

[2018-09-30 12:53] ZacharyRSmith commented on #37
My bad, I had a filter that caused me to not see the logs history.block() was making.

This is quite an edge case!  It seems that react-router is ignoring the request to block navigation because we are navigating to a context not handled by this "session" of react-router (I haven't looked at their code, but this seems to be the case).  Ie, it seems that react-router is treating this identically to

[2018-10-01 12:27] pattysheppard commented on #37
All good. Makes sense now!
Yep I'll see if I can look into it myself at some stage

[2018-10-06 16:25] doomsower opened #40 "Typescript compilation error"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Typescript compilation fails with:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

Try to compile project that uses `react-router-navigation-prompt` with typescript 3.1.1 with this tsconfig:
[code]

**What is the expected behavior?**

Should compile without errors.

[2018-10-06 16:28] doomsower commented on #40
Probably `export default function NavigationPrompt(): React.Component<Omit<NavigationPromptProps, keyof RouteComponentProps<any>>>;` should be inside `declare module`, but there is a name conflict. Someone with knowledge of export intentions (what should be exported and under which name) should solve it

[2018-10-07 12:00] ZacharyRSmith commented on #40
Thanks for the issue, @doomsower !  Unfortunately, I have little experience with Typescript and I do not have the time to look into this right now.

@bparish628, I'd appreciate it if you could look into this!

[2018-10-10 01:04] #2 closed

[2018-10-10 01:18] ZacharyRSmith commented on #40
@doomsower , @bparish628 fixed, and it is published as v1.7.1

[2018-10-10 01:18] #40 closed

[2018-10-10 08:00] piotr-cz commented on #2
Back button should work now (as  some of us expect it to), when using new `allowGoBack={true}` option.
For implementation details see #39, for option details see README.md.

[2018-11-05 15:03] 007arunwilson commented on #36
` browser.js:49 Warning: Hash history cannot PUSH the same path; a new entry will not be added to the history stack`
Same Issue for me in HashRouter

[2018-11-07 18:40] rsmylskibc opened #42 "Warning: A history supports only one prompt at a time"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If you are using `NavigationPrompt` inside multiple components that can be rendered inside a parent component, `Warning: A history supports only one prompt at a time` is thrown if you change from rendering one component that uses `NavigationPrompt` to another component using `NavigationPrompt`.

**If t

[2018-11-09 01:38] ZacharyRSmith commented on #42
Thanks, @rsmylskibc !  Would you please make a pull request for this change?

[2018-11-16 13:13] nageshkatna opened #43 "Navigate user to the desired location afterConfirm or afterCancel."
Hi, I want the user to navigate to the location where the user was navigation afterConfirming or canceling. But I couldn't find any access to the location on it. Is there anyway I could achieve it?

[2018-11-16 23:49] ZacharyRSmith commented on #43
Hi @nageshkatna , when the user confirms, they should navigate to where they were trying to go.  If this is not the case, maybe you're not using BrowserHistory?

[2018-11-17 02:39] nageshkatna commented on #43
Hi, Thanks a lot for the reply. I am new to react, It would be great if you can explain more where should I use BrowserHistory code.

[2018-11-17 02:49] nageshkatna commented on #43
I have used the prompt like this
I rendered this code
[code]
Then in return i call my prompt by calling a function called showprompt

[code]
okOk() i Called my update function which upates the data. I want to send the user to the page on which they wanted to navigate. So according to it where can i use the Browser history and how?
I have imported the Navigation prompt like this
`import NavigationP

[2018-11-17 23:57] ZacharyRSmith commented on #43
react-router shows how to use its BrowserHistory: https://reacttraining.com/react-router/web/api/BrowserRouter

As seen in this repo's README, you need to pass onConfirm() and onCancel(), and call them when the user confirms/cancels navigation
[code]

Good luck!

[2018-11-17 23:57] #43 closed

[2019-01-31 10:30] ameer157 commented on #42
@ZacharyRSmith I have the latest 1.8.4 version and I still have the "Warning: A history supports only one prompt at a time" error message...

P.S. both components are present in the DOM (I have two tabs and toggle between them on state change)

[2019-01-31 20:42] ZacharyRSmith commented on #42
@ameer157 thanks for bringing this to my attention, would you please PR a fix, or at least provide a reproducible example?  Or @kuhelbeher, could you look more into this?  Thanks!

[2019-02-03 12:06] ameer157 commented on #42
Thanks for the attention @ZacharyRSmith  🥇

The bug can be reproduced by having two instances of "</NavigationPrompt>" into the DOM.
As I mentioned in my previous comment, that I have two tabs that toggle between two components and each component has its own react from and "</NavigationPrompt>" Since the two components are present in the DOM at the same time I receive the "Warning: A history suppo

[2019-02-03 14:47] ameer157 commented on #42
No worries, thanks anyways!
I will try to have someone with better React experience than me to look into this as well ;)

[2019-02-10 09:19] kuhelbeher commented on #42
I had a different case - two components with `<NavigationPrompt>` was neighbours and when I was switching between them error occurs.

@ameer157 Maybe you can place `<NavigationPropmpt>` component in parent component instead of two component which present in the DOM at the same time. This should fix your problem.

[2019-02-11 06:50] ameer157 commented on #42
Thanks for the tip @kuhelbeher - this is a perfect walk-around 👍

@ZacharyRSmith

[2019-02-20 20:43] santhoshworks commented on #16
@ZacharyRSmith Please close this issue as this is working as expected

[2019-02-20 22:33] #16 closed

[2019-04-04 23:04] Nikodermus opened #49 "BUG: History.push() allows navigation with prompt"
"react-router-navigation-prompt": "^1.8.5",
## BUG

Redirection made through history.push() is not taken in account for the prompt to be triggered and allows redirection in the end.

### Steps to reproduce:
* Given a component which has access to the history obj (Like using `withRouter` HOC)
* Create a prompt with a `when={true}`
* A button which `onClick={()=> props.history.push('/')}`
* It will

[2019-04-05 00:52] ZacharyRSmith commented on #49
Thanks for the issue, @Nikodermus .  Unfortunately, I'm not sure when I'll be able to look at it.  Would you please PR a fix?

[2019-04-24 17:31] jeffvandyke opened #50 "Update peerDependency for react-router-dom to include v5"
After upgrading to react-router-dom 5, running `npm install` gives this message:
[code]
React router 5 is actually a backwards compatible release, only with build output reshuffling (see [react-router 5 release notes](https://reacttraining.com/blog/react-router-v5/)). I performed some testing, and both the native and the in-browser navigation prompt behavior work fine after the upgrade - the promp

[2019-04-24 22:19] ZacharyRSmith commented on #50
that makes 2 of us, but i went with: https://github.com/ZacharyRSmith/react-router-navigation-prompt/commit/3426514e101a1cf7d0ce669b5071d0609f5fbbca

updated on npm

[2019-04-24 22:19] #50 closed

[2019-05-14 21:00] duellj opened #51 "Type definitions for `before*` props are missing `callback` arguments"
Currently the `beforeConfirm` and `beforeCancel` props are defined as functions without parameters:

[code]

However, these both are expected to receive a `callback` function:

[code]

[2019-05-16 00:39] #51 closed

[2019-05-16 00:43] ZacharyRSmith commented on #51
Thanks, @duellj !  Published to npm

[2019-06-24 10:17] ningo-agilityio opened #53 "Can't customize Prompt UI with own component"
Hi team,
I am using `react-router: 4.3.1` and `react-router-dom: 4.3.1`, whatever I tried to follow your sample on README. I can't see my own modal instead default prompt on Chrome.
My environment and dependencies are:
- Default Chrome is `Version 75.0.3770.100 (Official Build) (64-bit)`
- "react-dom": "^16.8.3"
- "react-router": "^4.3.1"
- "react-router-dom": "^4.3.1"
- "react-router-navigation-p

[2019-06-24 13:33] ZacharyRSmith commented on #53
Hi @ningo-agilityio , it does look like you missed some configuration.  Would you please provide all the code that you can?  Thanks!

[2019-06-24 14:18] ningo-agilityio commented on #53
Yes. Below is all my code:

1. The same as `PreventTransitionPrompt.js`, but I changed my own modal here
[code]
const withForm = (Component, internalHook) => {
  return memo(props => {
    const [shouldBlockNavigation, toggleBlockNavigation] = useState(false)

    const hookData = internalHook({
      ...props,
      toggleBlockNavigation
    })

    // Watch to show confirmation before leaving ch

[2019-06-24 14:18] ningo-agilityio commented on #53
Yes. Below is all my code:

1. The same as `PreventTransitionPrompt.js`, but I changed my own modal here
[code]
const withForm = (Component, internalHook) => {
  return memo(props => {
    const [shouldBlockNavigation, toggleBlockNavigation] = useState(false)

    const hookData = internalHook({
      ...props,
      toggleBlockNavigation
    })

    // Watch to show confirmation before leaving ch

[2019-06-24 15:36] ningo-agilityio commented on #53
I tried to remove ApolloProvider and Switch as well, but it still doesn't work. Could you help to check if you figure out the issue?

[2019-06-25 02:04] ZacharyRSmith commented on #53
Hi @ningo-agilityio , first off I'm not sure if ApolloProvider is messing with anything so I agree removing that while debugging is a good idea.

Have you tried removing getUserConfirmation from <Router />?

Are you naming react-router-navigation-prompt as Prompt?  Ie, `import Prompt from 'react-router-navigation-prompt'?  I see the name Prompt is your code, I want to make sure you do not think in

[2019-06-25 02:12] ningo-agilityio commented on #53
A little bit confused about what you are mentioning.
I did remove:
- ApolloProvider
- getUserConfirmation from Router
- And I am using `import NavigationPrompt from 'react-router-navigation-prompt'`

[2019-06-25 03:11] ZacharyRSmith commented on #53
Ohhh sorry I missed in your pic that you are navigating away from the page.

As noted in the README:

Note: Navigation away from your site, reload, or closing tab/window will also prompt navigation confirmation when <NavigationPrompt/>'s props.when is truthy. `Usually, browsers handle this navigation UX themselves, leading to vanilla alert boxes`. Also, many browsers require users to interact with

[2019-06-25 03:17] ningo-agilityio commented on #53
Yes, the alert box is still "vanilla" when navigating within your site.
It still didn't work even I navigated inside site e.g from `/home` to `/about-us`.
So does your lib support this? As I checked, in your sample, it still works when navigating from `/` to `/test`, right?

[2019-06-25 03:28] ningo-agilityio commented on #53
Hey, it worked for me. I used `<a>` in incorrect way. It should be `Link` of react-router-dom.
But still so hard to control it. Thanks for your support.
Let close this issue.

[2019-06-25 03:28] #53 closed

[2019-06-25 09:36] ZacharyRSmith commented on #53
I'm glad to hear it worked.  Cheers!

[2019-07-10 14:10] Pau1fitz commented on #49
@Nikodermus @ZacharyRSmith  I am seeing the same, I think it is only when you push to `'/'` -  `props.history.push('/')`, at least this is the only route I am seeing this behaviour.

If I do `props.history.push('/'test)` there is no problem.

Just investigating now, if I find the fix I will create a PR.

[2019-07-10 14:22] Pau1fitz commented on #49
@Nikodermus @ZacharyRSmith  I am seeing the same, I think it is only when you push to `'/'` -  `props.history.push('/')`, at least this is the only route I am seeing this behaviour.

If I do `props.history.push('/'test)` there is no problem. @Nikodermus can you check if it works if you don't use `'/'` but instead navigate to a different route?

[2019-07-15 23:29] Nikodermus commented on #49
Indeed, this is working fine with routes different to '/', do you maybe a baseName different to '/' in your app @Pau1fitz ?

[2019-09-28 15:11] reintroducing opened #54 "Reload shows vanilla alert"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I've got code with this component working great when I'm navigating on my site. However, simply reloading the page shows the vanilla JS alert box. From reading the docs, it sounds like this should still trigger my custom rendered component. Am I misunderstanding?

**If the current behavior is a bug, pl

[2019-09-28 19:03] ZacharyRSmith commented on #54
@reintroducing , thanks for your thorough issue.  Unfortunately, this is expected behavior.  I clarified the README:

[code]

[2019-09-28 19:03] #54 closed

[2019-09-28 23:33] reintroducing commented on #54
Makes perfect sense, appreciate the clarification. Great bit of code by the way, saved me a lot of time in writing my own implementation and works flawlessly for my purposes, appreciate it.

[2019-09-29 01:40] ZacharyRSmith commented on #54
Thanks!  Much of the credit goes to others who've contributed.

[2019-10-02 13:39] 102 opened #55 "There is no easy way to consume flow typings"
**Do you want to request a *feature* or report a *bug*?**

This is likely a bug

**What is the current behavior?**

Using `import NavigationPrompt from 'react-router-navigation-prompt';` within flow codebase results in `NavigationPrompt` being typed as `any`

**If the current behavior is a bug, please provide the steps to reproduce.**

See current behavior

**What is the expected behavior?**

It c

[2019-10-03 00:06] ZacharyRSmith commented on #55
Thanks @102 for this thorough issue!  Would you please open a PR to fix this?  Thanks!

[2019-10-03 04:37] 102 commented on #55
Yes, I will take a look at it

[2019-10-04 01:01] #55 closed

[2019-10-09 08:47] PetrivskyiTaras opened #58 "Default prompt shows when nextLocation is undefined"
It cannot show a custom prompt when "nextLocation" is undefined. The case when you open application directly by link and when back button is pressed you'll see default prompt instead of your custom.

[2019-10-10 02:22] ZacharyRSmith commented on #58
Thanks for the issue, @PetrivskyiTaras !  However, I think this behavior is expected because you are navigating away from your site, which as noted in the README is usually handled by browsers with default prompt for security concerns.  Please reopen this issue if you disagree

[code]

[2019-10-10 02:22] #58 closed

[2019-10-10 06:22] PetrivskyiTaras commented on #58
My problem is I want to show my popup with my message in this case, is it possible?

[2019-10-11 01:56] ZacharyRSmith commented on #58
@PetrivskyiTaras I don't think so.  Please let me know if you find a way!

[2019-10-14 18:48] sibinx7 opened #59 "Can we get next or previous location in afterConfirm/afterCancel callback"
Do we get previous and next location in afterConfirm/afterCancel callback.  It will be a nice addition so user can navigate to the original next location.

[2019-10-15 03:04] ZacharyRSmith commented on #59
Thanks for the issue, @sibinx7 !

When the user cancels navigation, they are not navigated anywhere.  So, I don't think it makes sense to pass a location to afterCancel.

When the user confirms navigation, they are already navigated to what triggered <NavigationPrompt />.  So, I don't think it makes sense to pass a location to afterConfirm.

Please reopen this issue if this does not make sense.

[2019-10-15 03:04] #59 closed

[2019-10-15 07:27] PetrivskyiTaras commented on #58
@ZacharyRSmith thanks for the answer!

[2019-10-16 10:33] sibinx7 commented on #59
@ZacharyRSmith I have one feature,  afterConfirm , form need to save with submitted flag true, and afterCancel, form need to save with submitted flag false, then both redirect to `next` location.

Thanks for your support.

[2019-10-17 04:50] ZacharyRSmith commented on #59
Unfortunately that feature would break this component's logic, which is: cancel cancels redirection and confirm continues redirection.  You could change how you're using this component or create your own fork to enable this feature.

Cheers!

[2020-01-03 11:29] wklc2014 opened #60 "prompt component return false, url changed"
Hi, when I use this component, If I refrush the browser, and then click this back button of browser, the  confirm modal will show, and the url is changed too, then if I click cancel, the page is not change.

so, the url is not right with the render page.

Is there anyone appeared it ?

any more, even if I use Prompt component of react-router, It had the same problerm.

how resolve the problerm?

[2020-01-04 13:02] ZacharyRSmith commented on #60
Thanks for reporting this!  Closing because this is a duplicate of #37

[2020-01-04 13:02] #60 closed

[2020-02-03 12:27] muscaiu opened #61 "Reusing the prompt issue"
I'm using this library in an electron/react app to prevent the user from navigating to another route but only when the user is on the `Play Page`.

I'm reusing the WarningModal to show `Are you sure you want to Quit?` modal when the user is clicking on the X button trying to close the app.

**Both modals work fine except for 1 case.**
When the user is on the Play Page and clicks X,
- the modal sho

[2020-02-03 20:18] ZacharyRSmith commented on #61
@muscaiu thanks for the issue! Unfortunately I do not know what is happening, and do not have the time to look into it.

If I understand you correctly, then the 1st line of the below is running but not the 2nd, correct?

        console.log('close the app')
        remote.getCurrentWindow().close();

If so, how do you know         remote.getCurrentWindow().close() is not executed?  Is it possible

[2020-02-04 12:25] muscaiu commented on #61
@ZacharyRSmith that's correct.
Even though both lines seem to be executed, the app is not being closed. It's definitely related to the Prompt, but i don't understand why this is happening, because all the logic seems to be fine.

I was wondering maybe you would have a clue why it doesn't work in this particular case.

[2020-02-04 12:44] muscaiu commented on #61
Omfg i just realized what's wrong and now it's working fine.
I wasn't returning (didn't even thought about doing it honestly)....
[code]

[2020-02-04 12:44] #61 closed

[2020-02-04 20:01] ZacharyRSmith commented on #61
Haha I love/hate it when the fix is so simple!

[2020-02-23 14:41] ningo-agilityio opened #62 "Prompt doesn't show when I'm using with Gatsby"
I'm using `"gatsby": "^2.17.7"` and I had some pages:
- /membership
- /create-account?step=1
- /create-account?step=2

This is my code for Prompt
[code]

I'm expecting to show Prompt when hit back between these pages, but it only shows when I reload `/create-account` page. Are there any official issue for this?
I got stuck with this for 2 weeks.
Please help to give you your advice if any. Thanks a

[2020-02-25 01:30] ZacharyRSmith commented on #62
Hi @ningo-agilityio , thanks for opening the first issue referencing gatsby!

Would you please provide a full event flow example for "when hit back between these pages"?  Ie, which page do you start on, what do you do until the unexpected behavior?

[2020-02-25 02:39] ningo-agilityio commented on #62
Hi @ZacharyRSmith.
Thanks for your response.

My steps will go through:
1. /membership
2. /create-account?step=1
3. /create-account?step=2
4. /create-account?step=3
I did use `NavigationPrompt` inside `CreateAccount` component to expect a prompt will be showed when user hits back in any step. But:
- From /create-account to /membership, no popup was showed (even default browser)
- Within /create-ac

[2020-03-27 20:36] ZacharyRSmith commented on #62
@ningo-agilityio , my apologies for my delayed response.

Re: /create-account steps -- It looks like you are reloading the site, and for security concerns browsers usually handle this navigation UX themselves, leading to vanilla alert boxes.

Re: going from /create-account back to /membership -- I'm not sure what is going on here.  I would like to see more code, but I understand if you cannot shar

[2020-03-27 20:36] #62 closed

[2020-03-30 11:45] Joachimzeelmaekers commented on #42
Works for me too! Thanks!

[2020-03-30 11:52] Joachimzeelmaekers commented on #49
@Nikodermus Could you try using
`<NavLink to="/">
    Back to overview
  </NavLink>`
component instead of a button?

[2020-04-20 15:11] ruidai3333 opened #64 "feature: can you provide a downloadable zip for v1.8.10"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Releases after 1.7* are missing in `releases`.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Would you mind add v1.8.10 (I specifically need this version but it would nice to have the latest as well) and provide a downloadable package? Tha

[2020-04-22 22:18] ZacharyRSmith commented on #64
@ruidai3333 , v1.8.11 is now available as a release

[2020-04-22 22:18] #64 closed

[2020-06-10 19:39] shreyashah7 opened #65 "Disable browser prompt on reload if navigation prompt.when is truthy"
Is there any option of disabling the browser prompt on reload if my page is dirty?

<img width="423" alt="Screen Shot 2020-06-10 at 12 38 53 PM" src="https://user-images.githubusercontent.com/6551265/84310985-62e51800-ab17-11ea-9748-d5be16376fe2.png">

[2020-06-10 21:28] #65 closed, assigned to nobody

[2020-06-11 16:22] shreyashah7 commented on #65
@ZacharyRSmith Is there a way i can disable those vanilla alert boxes?

[2020-06-11 22:05] ZacharyRSmith commented on #65
@shreyashah7 not with this module. I think there might be a way to hack some browsers so you can provide a custom alert box in such situations, but it is a security anti-pattern.

[2020-07-01 12:22] ohelixa commented on #49
Any news on this?

[2020-07-13 10:49] FunctionRun opened #67 "how can i use when => Promise<boolean>"
[code]
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
[code]
**What is the expected behavior?**

[code]

[2020-07-13 23:14] ZacharyRSmith commented on #67
This is not currently supported. Please open a PR if you get it working!

[2020-07-15 00:17] MichaelDeBoey opened #69 "Add engines to package.json"
Just like https://github.com/ReactTraining/react-router/issues/7505

[2020-07-16 00:03] ZacharyRSmith commented on #69
Sorry, would you please re-open with why this is beneficial?

[2020-07-16 00:03] #69 closed

[2020-08-11 22:25] RoosterH opened #70 "Question about when and afterConfirm"
In my usage scenario, I do not want to pop up the confirmation message but I do want to call some functions in afterConfirm().  I can't seem to find that combination.

Here is how I define it:
[code]
When OKLeavePage is true, confirmation message does not pop up but at the same time it skips afterConfirm. I cannot put those function calls in beforeConfirm because if confirmation does pop up and us

[2020-08-12 21:26] ZacharyRSmith commented on #70
please let me know if this scenario is correct:

given a user tries to navigate away
when OKLeavePage is true
then:
- the user should _not_ be prompted to confirm navigation, and
- these calls should be made: 1. formContext.setIsInsideForm(false); 2. removeEventFormData();

If this scenario is correct, then making those calls is not the responsibility of NavigationPrompt. I recommend making those

[2020-08-12 21:26] #70 closed

[2020-08-12 22:06] RoosterH commented on #70
Thanks it works!  I was focusing finding answers from using any of the param provided by the package and missed this simple solution.  Thanks again!

[2021-02-01 05:47] liuxiansheng2018 opened #71 "页面刷新浏览器的时候可以把弹窗关闭吗或者跟离开页面时自定义页面的逻辑样式保持一致 页面刷新浏览器的时候可以把弹窗关闭吗或者跟离开页面时自定义页面的逻辑样式保持一致 Can I close the pop-up window when I refresh the browser or keep it consistent with the logic style of the custom page when I leave the page"
![image](https://user-images.githubusercontent.com/35281468/106419721-0498eb00-6494-11eb-8c78-cbf229c28850.png)
![image](https://user-images.githubusercontent.com/35281468/106419739-124e7080-6494-11eb-9dc9-e4310d19c22e.png)

[2021-02-01 05:48] liuxiansheng2018 opened #72 "Can I close the pop-up window when I refresh the browser or keep it consistent with the logic style of the custom page when I leave the page"
![image](https://user-images.githubusercontent.com/35281468/106419721-0498eb00-6494-11eb-8c78-cbf229c28850.png)
![image](https://user-images.githubusercontent.com/35281468/106419739-124e7080-6494-11eb-9dc9-e4310d19c22e.png)

[2021-02-02 23:34] ZacharyRSmith commented on #72
Closing because this is a duplicate of https://github.com/ZacharyRSmith/react-router-navigation-prompt/issues/71

[2021-02-02 23:34] #72 closed

[2021-02-02 23:53] ZacharyRSmith commented on #71
If you mean, "can my code not prompt the user when the user refreshes the browser", then yes with this code:

[code]

but this would also not prompt when the user navigates to another site or closes the tab.

No, as indicated in this note in the README:
[code]

[2021-02-02 23:53] #71 closed

[2021-03-03 05:08] enoguchi-lmi opened #73 "isActive remains false even when `when` props is true"
"react-router-navigation-prompt": "1.8.13",

image attached has  `console.log(this.props, this.state)` from render function of the lib, we can see when is true but isActive is false

<img width="2537" alt="Screen Shot 2021-03-03 at 12 02 14 AM" src="https://user-images.githubusercontent.com/52473897/109755514-28933d80-7bb4-11eb-9c1e-d69a4689ea44.png">

setup is per doc

[code]

[2021-03-03 16:39] #73 closed

[2021-03-03 16:39] enoguchi-lmi commented on #73
not a bug

[2021-04-15 22:27] AntCas opened #74 "Multiple prompts appear when using the browser back button instead of just one."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When navigating back by clicking the back button in the browser two prompts are displayed instead of just one. Rarely more than two prompts will appear.

![bug-demo](https://user-images.githubusercontent.com/6935841/114945638-530d2300-9e0f-11eb-9701-0b429dba0855.gif)

**If the current behavior is a bug

[2021-04-15 23:33] ZacharyRSmith commented on #74
Thanks for the issue! Unfortunately, I don't know what's causing this.

If you find out:
- if it is a bug with NavigationPrompt, please open a PR
- if it isn't, please comment how you fixed it and close this issue.

[2021-05-07 02:55] AntCas commented on #74
I was able to solve my issue by adding some extra state as a workaround. Never figured out the root cause of the issue.

[code]

[2021-05-07 02:55] #74 closed

[2021-08-17 16:10] dyenereks opened #76 "when => boolean not working on browser reload"
Below `when` props works when route is changed but not when I just reload the page. It seems that it's not called when page is being reloaded.
[code]

[2021-08-18 01:29] ZacharyRSmith commented on #76
Hi @dyenereks , what makes you think it's not called?

Navigation away from your site, reload, or closing tab/window will also prompt navigation confirmation when <NavigationPrompt/>'s props.when is truthy. However, **for security concerns browsers usually handle this navigation UX themselves, leading to vanilla alert boxes. Also, many browsers require users to interact with your site before confi

[2021-08-18 01:46] dyenereks commented on #76
I tried the boolean prop and it works perfectly fine even when closing/reloading tab/window
[code]

but when I tried to compare the location pathnames, it doesn't trigger when reloading/closing the tab. Navigation away from my site works with both sample.

[code]

[2021-08-18 21:09] mellis481 opened #77 "Multiple BrowserRouter instances breaks NavigationPrompt"
If there are multiple `BrowserRouter` instances, `NavigationPrompt` doesn't work as expected.

https://oq16x.csb.app/sub/route1

1. Dirty form
2. Clicking the "Go to test" link works
3. Clicking the "Go to test (top-level)" link does not work

[2021-08-18 21:56] ZacharyRSmith commented on #76
please try checking if nextLocation is defined before trying to destructure it

[2021-08-18 22:10] ZacharyRSmith commented on #77
Thanks for the reproducing example!

I would not expect NavigationPrompt to work with multiple BrowserRouters. In your example, I change NavigationPrompt to react-router's Prompt, and it didn't work either. I just updated the README to call this out. Please reopen if it makes sense to.

[2021-08-18 22:10] #77 closed

[2021-08-18 22:11] ZacharyRSmith commented on #76
Please reopen if that does not work

[2021-08-18 22:11] #76 closed

[2021-08-18 22:27] mellis481 commented on #77
@ZacharyRSmith   Thanks for the quick response!

Considering that nested routes is something react router supports (https://reactrouter.com/web/example/nesting), I'm surprised and disappointed this library won't work with it.

[2021-09-17 20:16] timhwang21 opened #78 "Request: expose `action` to `when`"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The `when` callback takes two arguments: previous location and next location. `block` from React Router also exposes `action`. It would be useful to expose this to `when` as a third argument. For example, one may want to not trigger the confirmation on `'REPLACE'` events.

In my case, we sometime

[2021-09-17 23:39] ZacharyRSmith commented on #78
@timhwang21 makes sense to me. Please PR. Thanks!

[2021-09-18 11:16] ZacharyRSmith commented on #78
pub'd to npm: https://www.npmjs.com/package/react-router-navigation-prompt

[2021-09-18 11:16] #78 closed

[2021-12-19 22:00] jmdsg opened #81 "Support for react router v6"
I would like to know if there is a plan to support react router v6.
I checked the source code of this project, and also the migration guide from v5 to v6, and think the only changes needed would be:

1. Stop using the HOC `withRouter` since is not avaibale anymore.
2. Obtain the location using the `useLocation` hook or receive it as a parameter
3. Obtain the history. This one is trickier since is

[2021-12-19 22:30] ZacharyRSmith commented on #81
@jmdsg thanks for opening this issue! If you or someone else wants to open a PR for v6, I'll merge! However, I do not plan to dev it myself.

[2022-05-06 05:46] shamilykr commented on #81
@jmdsg  @ZacharyRSmith  Is there any update for this issue ?

[2022-05-06 13:44] ZacharyRSmith commented on #81
@shamilykr no. If you can, please open a PR. Thanks!

[2022-05-09 10:27] sshyam-gupta commented on #81
Try this package if it helps
https://www.npmjs.com/package/react-router-prompt

[2022-06-27 04:22] riteshahlawat commented on #36
When implementing my own router prompt (without this package), I solved this issue by using `history.replace()` instead. Doing so when using hash history may be worth looking into.

[2022-08-17 07:04] notShadowM commented on #81
yoo it was really helpful.
Good job man.

[2022-08-17 07:09] notShadowM commented on #81
don't really want to be annoying but is it hard to trigger on closing the tap or reloading it😢

[2022-08-18 09:23] ZacharyRSmith commented on #81
@notShadowM , when you wrote "it hard to trigger on closing the tap or reloading itcry", were you writing about this pkg, react-router-navigation-prompt, or react-router-prompt? If this pkg, thanks for the feedback! Would you please provide more details?

[2022-08-18 09:58] notShadowM commented on #81
@ZacharyRSmith
i was talking about the react-router-prompt, it's working well as needed and your custom prompt will show up, but when u do close or reload ,the  default prompt will show up not the custom prompt.
In general it's viable for v6 and help a lot

[2022-08-18 15:05] ZacharyRSmith commented on #81
Navigation away from your site, reload, or closing tab/window will also prompt navigation confirmation when <NavigationPrompt/>'s props.when is truthy. However, for security concerns browsers usually handle this navigation UX themselves, leading to vanilla alert boxes. Also, many browsers require users to interact with your site before confirming navigation away.

This pkg, react-router-navigation

[2022-08-18 15:11] notShadowM commented on #81
@ZacharyRSmith
it's react-router-prompt that works well with v6.
react-router-navigation-prompt still has some problems with v6.

[2022-08-18 22:59] ZacharyRSmith commented on #81
Thanks for the info!